html {
    height: 100%;
    width: 100%;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    border: 5px solid black;
    border-radius: 1rem;
    padding: 1rem;
}

p {
    font-style: italic;
    text-align: center;
}

form {
    width: 10rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 0.5rem;
}

form > input {
    padding: 0.5rem;
    border-radius: 10px;
}

form > button {
    background-color: rgb(0, 200, 255);
    border: 2px dashed black;
    border-radius: 20px;
    padding: 0.5rem;
}

.nowy-post {
    font-size: 2rem;
    font-weight: bold;
}

.comment {
    margin-bottom: 1rem;
    list-style: none;
}